:host {
  background-color: var(--color-neutral-very-dark-blue-card);
  border-radius: 15px;
  color: var(--color-primary-soft-blue);
  font-weight: 300;
  height: 34.062rem;
  padding: 1.562rem;
  width: 20.625rem;
}

app-equilibrium {
  margin-bottom: 1.1rem;
}

h1 {
  color: white;
  font-size: 1.38rem;
  margin-bottom: 0.9rem;
}

h1:hover {
  color: var(--color-primary-cyan);
  cursor: pointer;
}

.text {
  font-size: 1rem;
  line-height: 1.45;
  margin-bottom: 1.25rem;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

footer {
  align-items: center;
  border-top: 1px solid var(--color-neutral-very-dark-blue-line);
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.avatar {
  border: 1px solid white;
  border-radius: 50%;
  width: 2.1rem;
}

.footer-text {
  font-size: 1rem;
  letter-spacing: -0.3px;
}

.author {
  color: white;
}

.author:hover {
  color: var(--color-primary-cyan);
  cursor: pointer;
}

@media (min-width: 90rem) {
  :host {
    height: 37.5rem;
    width: 21.875rem;
  }

  app-equilibrium {
    margin-bottom: 1.65rem;
  }

  h1 {
    margin-bottom: 1.05rem;
  }

  .text {
    font-size: unset;
    margin-bottom: 1.5rem;
  }

  .bottom-row {
    margin-bottom: 1.25rem;
  }

  .footer-text {
    letter-spacing: 0.1px;
  }
}
