<main>
  <article>
    <app-equilibrium></app-equilibrium>
    <h1>Equilibrium #3429</h1>
    <p class="text">Our Equilibrium collection promotes balance and calm.</p>
    <div class="bottom-row">
      <app-icon-text
        *ngFor="let item of bottomRow"
        [data]="item"
      ></app-icon-text>
    </div>
    <footer>
      <img
        class="avatar"
        src="../assets/images/image-avatar.png"
        alt="Avatar"
      />
      <p class="footer-text">
        Creation of <span class="author">Jules Wyvern</span>
      </p>
    </footer>
  </article>
</main>
